# Core ML Libraries (Updated for Python 3.11)
torch>=2.3.0
torchvision>=0.18.0
lightning>=2.0.0
numpy>=1.26.0
pandas>=2.2.0
torchmetrics

# Other dependencies from original requirements.txt (latest compatible versions will be installed)
absl-py
aiohttp
aiosignal
async-timeout
attrs
cachetools
certifi
charset-normalizer
frozenlist
fsspec
google-auth
google-auth-oauthlib
grpcio
idna
Markdown
multidict
oauthlib
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pyDeprecate
pyparsing
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tqdm
typing_extensions
urllib3
Werkzeug
yarl
zipp